<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.lemonmobility.Lemon</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lemonapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- REPLACE THIS WITH YOUR REVERSED CLIENT ID FROM GOOGLESERVICE-INFO.PLIST -->
				<string>com.googleusercontent.apps.22651612800-ca1t34r89u9fvq603ougul3vcm88igrq</string>
			</array>
		</dict>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Lemon needs your location to find nearby scooters and show them on the map.</string>
	<key>NSCameraUsageDescription</key>
	<string>Lemon needs camera access to scan QR codes for unlocking scooters and verifying parking.</string>
</dict>
</plist>
