<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.lemonmobility.Lemon</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lemonapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.22651612800-ca1t34r89u9fvq603ougul3vcm88igrq</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Lemon needs your location to track your ride and find nearby scooters.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Lemon needs background location to ensure your ride is tracked accurately even when the app is minimized.</string>
	<key>NSMotionUsageDescription</key>
	<string>Lemon uses motion sensors to detect suspicious activity and protect scooters from tampering.</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
</dict>
</plist>
